# This is modified version of the file at
# hardware/interfaces/graphics/allocator/2.0/default/android.hardware.graphics.allocator@2.0-service.rc

# Here we override and disable the gralloc service. Custom init.rc
# script needs to start the service in order to prevent a race condition
# with gbm_gralloc and drm_hwcomposer both opening /dev/dri/card0
# node, meaning gbm_gralloc might get DRM Master status if it gets
# started first. This would lead to drm_hwcomposer not working.

service vendor.gralloc-2-0 /vendor/bin/hw/android.hardware.graphics.allocator@2.0-service
    override
    disabled
    class hal animation
    interface android.hardware.graphics.allocator@2.0::IAllocator default
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
